#form, #table {
    margin: auto;
    width: 100%;
}


div {
    display: flex;
    justify-content: space-evenly;
}

#table {
    /* border: 5px solid blue; */
    height: 80%;
}

#form {
    /* border: 5px solid red; */
    height: 20%;
}

@media (min-width: 501px) {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
        
    }

    div button {
        margin: auto;
    }
    

    #table, #form{
        /* border: 5px solid blue; */
        height: 100%;
    }
    
    #form {
        width: 20%;
    }
    #table {
        width: 80%;
        
    }


}