<main>
    <h6 style="margin-left: 1rem">Welcome {{getUserName()}} !</h6>

    <section id="table">
        <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="gameName">
                <mat-header-cell *matHeaderCellDef>
                    Game Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.gameName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="gameType">
                <mat-header-cell *matHeaderCellDef>
                    Game Type
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.gameType}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="hostName">
                <mat-header-cell *matHeaderCellDef>
                    Player Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.hostName}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onClickRow(row)">

            </mat-row>
        </mat-table>
    </section>

    <section id="form">
        <!-- form controls -->
        <div>
            <button mat-flat-button color="accent" type="button" (click)="onExit()">Exit</button>
            <button mat-flat-button color="secondary" style="border: 1px grey inset;" type="button" (click)="onAgainstPC()">Against PC</button>
            <button mat-raised-button color="primary" type="button" (click)="onHostGame()">Host Game</button>
        </div>

    </section>

</main>