<main>
    <section id="title">
        <h1>Tic Tac Toe & Connect 4</h1>
    </section>
    <section id="form">
        <form #f="ngForm" (ngSubmit)="onOkay(f)" >
            <mat-form-field>
                <input matNativeControl ngModel name="username" required placeholder="Enter Username">
            </mat-form-field>
            <mat-error></mat-error>
            <button mat-raised-button [disabled]="f.invalid || f.pristine" color="primary">Okay</button>
        </form>
    </section>
</main>