
<h4 mat-dialog-title>Host Game</h4>
<form #f="ngForm" (ngSubmit)="onStart(f)">

    <mat-form-field>
        <input matNativeControl required ngModel name="gameName" minlength="10" placeholder="Game Name" type="text">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Game Type</mat-label>
        <mat-select required apperance="fill">
            <mat-option value="TTT">
                Tic-Tac-Toe
            </mat-option>
            <mat-option value="CF">
                Connect 4
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-flat-button mat-dialog-close color="accent" type="button">Cancel</button>
        <button mat-flat-button [disabled]="f.invalid || f.pristine" color="primary">Start</button>
    </div>


</form>