<h4 mat-dialog-title>Against PC</h4>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <mat-form-field>
        <mat-label>Game Type</mat-label>
        <mat-select required ngModel name="gameType" apperance="fill">
            <mat-option value="TTT">
                Tic-Tac-Toe
            </mat-option>
            <mat-option value="CF">
                Connect 4
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Game Difficulty </mat-label>
        <mat-select required ngModel name="gameDiff" apperance="fill">
            <mat-option value="easy">
                Easy
            </mat-option>
            <mat-option value="med">
                Medium
            </mat-option>
            <mat-option value="hard">
                Hard
            </mat-option>
        </mat-select>
    </mat-form-field>

    <section>
        <button mat-flat-button mat-dialog-close color="acccent" type="button">
            Back
        </button>
        <button mat-flat-button [disabled]="f.invalid || f.pristine" color="primary">
            Okay
        </button>
    </section>


</form>